<mat-card class="flex-container-col">
  <mat-card-header>
    <mat-card-title>Policy Details</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="policyDetailsFormGroup">
      <div class="flex-container-row">
        <mat-form-field class="flex-container-half-row" appearance="fill">
            <mat-label>Product Selection</mat-label>
            <mat-select formControlName="productCd" required>
              <mat-option *ngFor="let product of products" [value]="product">{{product}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="policyDetailsFormGroup.controls['productCd'].hasError('required')">
              Product selection is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div class="flex-container-row">
        <mat-form-field class="flex-container-half-row" appearance="fill">
          <mat-label>Effective Date</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="effectiveDate" readonly={{viewMode}}>
          <mat-datepicker-toggle *ngIf="!viewMode"  matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="flex-container-half-row"appearance="fill">
          <mat-label>Expiry Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="expiryDate" readonly={{viewMode}}>
          <mat-datepicker-toggle *ngIf="!viewMode" matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex-container-row">
        <mat-form-field class="flex-container-half-row"appearance="fill">
          <mat-label>Payment Type</mat-label>
          <mat-select formControlName="paymentType" required>
            <mat-option *ngFor="let ptype of ptypes" [value]="ptype">{{ptype}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="policyDetailsFormGroup.controls['paymentType'].hasError('required')">
            Payment Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
